* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body{
  background-image: url("./images/clouds.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*********** NAVBAR **********/
.navBar {
  /* border-bottom: 0.1px solid #696969; */
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  background-color: rgba(224,224,224,0.3);
}

.navBar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}

.initials {
  font-family: "Bradley Hand ITC TT", "Handwriting-Dakota", sans-serif;
  font-weight: 900;
  color: darkred;
  cursor: pointer;
}

/* wordle title */
.title {
  color: #2d2d2d;
  font-family: "Didot LT STD";
  font-size: xx-large;
}

.topContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #2d2d2d;
  border-radius: 1px;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  background-color: rgba(224,224,224,0.7);
}

.tile:hover {
  border: 1.5px solid darkred;
}

.tiles {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px;
  grid-template-rows: 55px 55px 55px 55px 55px 55px;
  grid-gap: 5px;
}

.firstRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 0.5rem;
}

.secondRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 0.5rem;
}

.thirdRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 55px;
  background-color: snow;
  border-radius: 5px;
}

.key:hover,
.enter:hover,
.return:hover {
  background-color: #2d2d2d;
  color: white;
}

.enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 55px;
  background-color: lightcoral;
  color: snow;
  border: 0.1px solid #696969;
  border-radius: 5px;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 55px;
  border: 0.1px solid #696969;
  background-color: lightcoral;
  color: snow;
  border-radius: 5px;
}

/* MODALS */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-how-to-play {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-how-to-play-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 50%;
  height: 100%;
  border-radius: 0.5rem;
}

.modal-how-to-play-content h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.modal-how-to-play-content hr {
  margin: 1rem;
}

.modal-how-to-play-content p {
  font-weight: lighter;
  font-size: 1rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.modal-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #2d2d2d;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  text-align: center;
}

.close-btn {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: transparent;
}

.close-btn:hover {
  background-color: whitesmoke;
}

.modal-show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* COLOR TILES  */
.wrong-letter{
  background-color: darkgrey;
  color: white;
}

.grey-tile {
  background-color: lightgray;
  color: white;
}

.blue-tile {
  background-color: lightblue;
  color: white;
}

.orange-tile {
  background-color: orange;
  color: white;
}

.info {
  cursor: pointer;
}

.weary,
.pills,
.vague {
  display: flex;
  justify-content: center;
}

.weary .w {
  background-color: orange;
  color: white;
}

.pills .i {
  background-color: lightblue;
  color: white;
}

.vague .u {
  background-color: darkgrey;
  color: white;
}

.letter-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: 1px solid grey;
  font-size: 2rem;
}

.modal-michael{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-michael-content{
  position: absolute;
  top: 15%;
  left: 82%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #2d2d2d;
  padding: 1rem 1.5rem;
  width: 25rem;
  border-radius: 0.5rem;
  text-align: left;
}

.seutin{
  color: darkred;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* EFFECTS  */
@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
  }
